

.Window {
    font-family: 'Montserrat', sans-serif;
    color: #fff;

    position: relative;
    display: flex;
    flex-direction: column;

    margin: 0 3rem;
    padding: 2rem;

    width: 60%;

    z-index: 0;

    box-shadow: 1px 1px 5px 0px rgba(94, 94, 94, 0.75);
}

.Blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    backdrop-filter: blur(13px);
    background-color: rgba(184, 184, 184, 0.164);

    height: 100%;
    width: 100%;

    z-index: 0;
}

.Info {
    flex-grow: 1;

    z-index: 1;

    display: flex;
    flex-direction: column;
}

.LowerBox {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    overflow: scroll;
}

.LowerBox::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 700px) {
      .LowerBox {
        flex-wrap: nowrap;
      }
  }